body {
	margin: 0;
	padding: 0;
}
.topHeaderGray {
	background-color: #666;
	color:white;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	font-family: "Trade Gothic Condensed Bold",sans-serif;
	width: 100%;
	height: 100%;
	font-size: 11px;
}
.topHeaderGrayLink {
	text-transform: capitalize;
	color:white;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
}
.topHeaderGrayLink:hover {
	text-decoration: underline;
}
.mwLink {
	text-decoration: none;
	color:white;
}
.arrow {
	margin-left: 30px;
}
.arrow::after { content: " >" }

header {
	background-color: #212121;
	color: white;
	font-family: "Trade Gothic Condensed Bold",sans-serif;
}
.linksHorizontal {
	display: inline;
	color: white;
}
.hearderNavTop {
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: right;
}
.hearderNavTop a {
    color:white;
}
.hearderNavTop ul {
    list-style-type: none;
}
.hearderNavTop li {
    list-style-type: none;
    display: inline;
}
nav {
	text-align: right;
	color: white;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline;
}
nav a {
	text-align: right;
	color: white;
}
.whatsNew a {color:white;}
h1, h2, h3 {text-align: center}
h2 {
	font-family:"Monotype Garamond", serif;
	text-transform: uppercase;
}
h1 {
	font-family: 'Trade Gothic Condensed Bold', Arial, Helvetica;
	text-transform: uppercase;
}
h3 {
	font-family:"Monotype Garamond", serif;
}
#boxes {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    text-align: center;
}
.pre-footer {
	background-color: #333333; 
	margin-left: -50%;
	margin-right: -50%;
}
.pre-footer img {
	width: 150px;
	height: 150px;
	display: block;
    margin: auto;
}
footer {
	background-color: #212121;
}
footer ul {
	list-style-type: none;
}
footer a {
	color: white;
}
.footerNav li {
	text-align: right;
	display: block;
}
.footerTopNav {
	text-align: center;
}
.footerTopNav li {
	display: inline;
	text-transform: uppercase;
}
.footerNavList ul {
	display: inline;
}